/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 2:27:50 PM
    Author     : giosyst3m
*/

@media only screen and (min-width: 1025px) {
    .product-quantity{
        width: 55px;
        border-style: solid;
        border-color:#264073;
        padding: 5px;
        font-size: 16px;
    }
}

@media only screen and (max-device-width: 1024px) {
    .product-quantity{
        width: 65px !important;
        border-style: solid;
        border-color:#264073;
        height: 100px;
        width: 100px;
        height: 40px;
        width: 60px;
        font-size: 30px;
        padding: 5px;
    }

}


.wrapper{
    position: absolute;
    top: -3px;
    width: 100%;
    z-index: 1;
    text-transform: uppercase;
}

.product-discount{
    font-family: 'Sigmar One', cursive;
    font-size: 12px;
    color: #fff;
    text-align: center;
    -webkit-transition: -webkit-transform 0.5s linear;
    -moz-transition: -moz-transform 0.5s linear;
    transition: transform 0.5s linear;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    padding: 7px 0;
    left: -15px;
    top: 120px;
    width: 100px;
    background-color: #4d9ae2;
}

.product-codigo-2{
    font-family: 'Sigmar One', cursive;
    font-size: 12px;
    color: #fff;
    text-align: center;
    -webkit-transition: -webkit-transform 0.5s linear;
    -moz-transition: -moz-transform 0.5s linear;
    transition: transform 0.5s linear;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    padding: 7px 0;
    right: -15px;
    top: 120px;
    width: 100px;
    background-color: #8AC249;
}
.product-codigo-3{
    font-family: 'Sigmar One', cursive;
    font-size: 12px;
    color: #fff;
    text-align: center;
    -webkit-transition: -webkit-transform 0.5s linear;
    -moz-transition: -moz-transform 0.5s linear;
    transition: transform 0.5s linear;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    padding: 7px 0;
    right: 9px;
    top: 143px;
    width: 100px;
    background-color: #E81D62;
}

.product-price{
    text-decoration:  line-through;
    font-size: small;
}
.product-price-discount{
    font-size:  large;
    color:#264073;
}
.product-sku{
    font-family: 'Black Ops One', cursive;
    font-size: medium;
    color: #8AC249;
}
.product-name{
    font-family:  sans-serif;
    height: 100px;
    max-height: 100px;
    padding: 3%;
    margin-bottom: 5%;
    text-align: center;
    background-color: #cad0de;
    color: #264073;
    vertical-align: middle;
}
.product-name h2{
    margin: 0;
    font-size: 20px;
}
.thumbnail{
    -webkit-box-shadow: 15px 17px 21px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 15px 17px 21px 0px rgba(0,0,0,0.75);
    box-shadow: 15px 17px 21px 0px rgba(0,0,0,0.75);
}
.blue-box-shadow{
    -webkit-box-shadow: 15px 17px 21px 0px rgba(77,154,226,1);
    -moz-box-shadow: 15px 17px 21px 0px rgba(77,154,226,1);
    box-shadow: 15px 17px 21px 0px rgba(77,154,226,1);
}
.green-box-shadow{
    -webkit-box-shadow: 15px 17px 21px 0px rgba(34,139,34,0.5);
    -moz-box-shadow: 15px 17px 21px 0px rgba(34,139,34,0.5);
    box-shadow: 15px 17px 21px 0px rgba(34,139,34,0.5);
}
.red-box-shadow{
    -webkit-box-shadow: 15px 17px 21px 0px rgba(232,29,98,0.5);
    -moz-box-shadow: 15px 17px 21px 0px rgba(232,29,98,0.5);
    box-shadow: 15px 17px 21px 0px rgba(232,29,98,0.5);
}
/*.product-description{
    font-size: 1em;
    line-height: 1em;
    height: 3em;
    overflow: hidden;
    margin: 5% 0% 10% 0%; 

}*/
.product-img {
    display: block;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.product-photo{
    position: relative;
    display: block;
    width: 100%;
    height: 150px;
    background: #fff;
    /*border-bottom: 2px solid #e2e2e2;*/
    padding: 0;
    overflow: hidden;
}
.thumbnail{
    height: 100% !important;
    background: #fff;
    border: 2px solid #e2e2e2;
    margin-bottom: 20px
}
