.product-photo {
    position: relative;
    display: block;
    width: 100%;
    max-height: 150px;
    background: #fff;
    /* border-bottom: 2px solid #e2e2e2; */
    padding: 0;
    overflow: hidden;
}
.product-sku {
    font-family: 'Black Ops One', cursive;
    font-size: medium;
}
.tt-dropdown-menu{
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 100;
    display: block;
    right: auto;
    width: 100%;
}

.product-name {
    font-family: 'Orbitron', sans-serif;
    color: #264073;
}
.product-price-discount {
    font-size: large;
    color: #264073;
}

#block {
	height: 1000px;
	width: 100%;
	overflow-y: scroll;
}
#data{
    height: auto;
}