/**Inicio Button Top**/
.navbar-fixed-top + .content-container {
    margin-top: 70px;
}
.content-container {
    margin: 0 130px;
}



#top-link-block.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px; /* negative of the offset - height of link element */
    right:  10px; /* padding from the left side of the window */
}
#top-link-block.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 18px; /* height of link element */
    right: 10px; /* padding from the left side of the window */
}
/**Fin Button Top**/

/**TimeLine
http://bootsnipp.com/snippets/featured/timeline-single-column
**/
/** Checkbox 
http://bootsnipp.com/snippets/featured/material-design-switch
**/
.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
/**Checbox**/

.count {
    font-size: 20px !important;
}
.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #fff !important;
    font-size: 10px;
    padding: 5px;
    background-color: #337ab7;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 2px solid #f0f0f0;
    margin: 5px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(89,86,89,1);
    -moz-box-shadow: 3px 3px 5px 0px rgba(89,86,89,1);
    box-shadow: 3px 3px 5px 0px rgba(89,86,89,1);
}
.has-error div .help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #fff !important;
    font-size: 10px;
    padding: 5px;
    background-color: rgba(231,76,60,0.88);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 2px solid #f0f0f0;
    margin: 5px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(89,86,89,1);
    -moz-box-shadow: 3px 3px 5px 0px rgba(89,86,89,1);
    box-shadow: 3px 3px 5px 0px rgba(89,86,89,1);
}
@media only screen and (max-device-width: 380px) {
    .chartMap{
        width: 250px; height: 200px;
    }
    .text-mobil{
        font-size: 8px;

    }

    .top_nav .navbar-right {
        width: 68% !important;
        position: fixed !important;
        right: 20px !important;
    }

    .count .text-green {
        font-size: 10px !important;
    }
    .count {
        font-size: 15px !important;
    }
    .top_nav .navbar-right li{
        margin: -2px !important;

    }
    .top_nav .navbar-right li a{ 
        padding-left: 8px !important;
        padding-right: 8px !important;

    }
    .nav .toggle{
        position: fixed !important;
    }
}