/** Tabs 5 **/
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
/* written by riliwan balogun http://www.facebook.com/riliwan.rabo*/
/**TimeLine
http://bootsnipp.com/snippets/featured/timeline-single-column
**/
/** Checkbox 
http://bootsnipp.com/snippets/featured/material-design-switch
**/
    .material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
/**Checbox**/
/**TimeLine 
http://bootsnipp.com/snippets/z4bEn**/
.timeline,.timeline .timeline-item .timeline-event{width:100%}.timeline.timeline-line-solid:before,.timeline:before{border-right-style:solid}.timeline .timeline-item.timeline-item-right>.timeline-event:after,.timeline .timeline-item.timeline-item-right>.timeline-event:before,.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left)>.timeline-event:after,.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left)>.timeline-event:before,.timeline.timeline-single-column.timeline .timeline-item>.timeline-event:after,.timeline.timeline-single-column.timeline .timeline-item>.timeline-event:before{right:auto!important;border-left-width:0!important}.timeline{position:relative;padding:1px 0;list-style:none;font-weight:300}.timeline .timeline-item{padding-left:0;padding-right:30px}.timeline .timeline-item.timeline-item-right,.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left){padding-left:30px;padding-right:0}.timeline:after,.timeline:before{content:" ";display:block}.timeline:after{clear:both}.timeline:before{content:"";position:absolute;top:0;left:0;bottom:0;width:50%;height:100%!important;margin-left:1px;border-right-width:2px;border-right-color:#888}.timeline.timeline-single-column.timeline{width:100%;max-width:768px}.timeline.timeline-single-column.timeline .timeline-item,.timeline.timeline-single-column.timeline .timeline-item.timeline-item-right,.timeline.timeline-single-column.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left){padding-left:72px;padding-right:0}.timeline.timeline-single-column.timeline .timeline-item .timeline-event{width:100%}.timeline.timeline-single-column.timeline:before{left:42px;width:0;margin-left:-1px}.timeline.timeline-single-column.timeline .timeline-item{width:100%;margin-bottom:20px}.timeline.timeline-single-column.timeline .timeline-item.timeline-item-left+.timeline-item:not(.timeline-item-left):not(.timeline-item-right),.timeline.timeline-single-column.timeline .timeline-item.timeline-item-left+.timeline-item:not(.timeline-item-left):not(.timeline-item-right)+.timeline-item:not(.timeline-item-left):not(.timeline-item-right),.timeline.timeline-single-column.timeline .timeline-item.timeline-item-right+.timeline-item:not(.timeline-item-left):not(.timeline-item-right),.timeline.timeline-single-column.timeline .timeline-item.timeline-item-right+.timeline-item:not(.timeline-item-left):not(.timeline-item-right)+.timeline-item:not(.timeline-item-left):not(.timeline-item-right),.timeline.timeline-single-column.timeline .timeline-item:nth-of-type(even){margin-top:0}.timeline.timeline-single-column.timeline .timeline-item>.timeline-event{float:right!important}.timeline.timeline-single-column.timeline .timeline-item>.timeline-event:before{left:-15px!important;border-right-width:15px!important}.timeline.timeline-single-column.timeline .timeline-item>.timeline-event:after{left:-14px!important;border-right-width:14px!important}.timeline.timeline-single-column.timeline .timeline-item>.timeline-point{transform:translateX(-50%);left:42px!important;margin-left:0}.timeline.timeline-single-column.timeline .timeline-label{transform:translateX(-50%);margin:0 0 20px 42px}.timeline.timeline-single-column.timeline .timeline-label+.timeline-item:not(.timeline-item-left):not(.timeline-item-right),.timeline.timeline-single-column.timeline .timeline-label+.timeline-item:not(.timeline-item-left):not(.timeline-item-right)+.timeline-item:not(.timeline-item-left):not(.timeline-item-right){margin-top:0}.timeline.timeline-line-dotted:before{border-right-style:dotted}.timeline.timeline-line-dashed:before{border-right-style:dashed}.timeline.timeline-line-hidden:before{border-right-style:none}.timeline .timeline-item{position:relative;float:left;clear:left;width:50%;margin-bottom:20px}.timeline .timeline-item.timeline-item-right>.timeline-event,.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left)>.timeline-event,.timeline-single-column.timeline .timeline-item>.timeline-event{float:right!important}.timeline .timeline-item:after,.timeline .timeline-item:before{content:"";display:table}.timeline .timeline-item:after{clear:both}.timeline .timeline-item:last-child{margin-bottom:0!important}.timeline .timeline-item.timeline-item-right>.timeline-event:before,.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left)>.timeline-event:before{left:-15px!important;border-right-width:15px!important}.timeline .timeline-item.timeline-item-right>.timeline-event:after,.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left)>.timeline-event:after{left:-14px!important;border-right-width:14px!important}.timeline .timeline-item>.timeline-event:before{top:10px;right:-15px;border-top:15px solid transparent;border-left-width:15px;border-left-style:solid;border-right-width:0;border-right-style:solid;border-bottom:15px solid transparent}.timeline .timeline-item>.timeline-event:after{top:11px;right:-14px;border-top:14px solid transparent;border-left-width:14px;border-left-style:solid;border-right-width:0;border-right-style:solid;border-bottom:14px solid transparent}.timeline .timeline-item.timeline-item-arrow-sm.timeline-item-right>.timeline-event:after,.timeline .timeline-item.timeline-item-arrow-sm.timeline-item-right>.timeline-event:before,.timeline .timeline-item.timeline-item-arrow-sm:nth-of-type(even):not(.timeline-item-left)>.timeline-event:after,.timeline .timeline-item.timeline-item-arrow-sm:nth-of-type(even):not(.timeline-item-left)>.timeline-event:before,.timeline-single-column.timeline .timeline-item>.timeline-event:after,.timeline-single-column.timeline .timeline-item>.timeline-event:before{right:auto!important;border-left-width:0!important}.timeline .timeline-item>.timeline-point{top:25px}.timeline-single-column.timeline .timeline-item>.timeline-event:before{left:-15px!important;border-right-width:15px!important}.timeline-single-column.timeline .timeline-item>.timeline-event:after{left:-14px!important;border-right-width:14px!important}.timeline .timeline-item:nth-of-type(2){margin-top:40px}.timeline .timeline-item.timeline-item-left,.timeline .timeline-item.timeline-item-right{clear:both!important}.timeline .timeline-item.timeline-item-left+.timeline-item:not(.timeline-item-left):not(.timeline-item-right),.timeline .timeline-item.timeline-item-right+.timeline-item:not(.timeline-item-left):not(.timeline-item-right){margin-top:0;clear:both}.timeline .timeline-item.timeline-item-left+.timeline-item:not(.timeline-item-left):not(.timeline-item-right)+.timeline-item:not(.timeline-item-left):not(.timeline-item-right),.timeline .timeline-item.timeline-item-right+.timeline-item:not(.timeline-item-left):not(.timeline-item-right)+.timeline-item:not(.timeline-item-left):not(.timeline-item-right){margin-top:40px}.timeline .timeline-item.timeline-item-right,.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left){float:right;clear:right}.timeline .timeline-item.timeline-item-arrow-lg.timeline-item-right>.timeline-event,.timeline .timeline-item.timeline-item-arrow-lg:nth-of-type(even):not(.timeline-item-left)>.timeline-event,.timeline .timeline-item.timeline-item-arrow-md.timeline-item-right>.timeline-event,.timeline .timeline-item.timeline-item-arrow-md:nth-of-type(even):not(.timeline-item-left)>.timeline-event,.timeline .timeline-item.timeline-item-arrow-sm.timeline-item-right>.timeline-event,.timeline .timeline-item.timeline-item-arrow-sm:nth-of-type(even):not(.timeline-item-left)>.timeline-event,.timeline-single-column.timeline .timeline-item.timeline-item-arrow-lg>.timeline-event,.timeline-single-column.timeline .timeline-item.timeline-item-arrow-md>.timeline-event,.timeline-single-column.timeline .timeline-item.timeline-item-arrow-sm>.timeline-event{float:right!important}.timeline .timeline-item.timeline-item-right>.timeline-point,.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left)>.timeline-point{left:-24px}.timeline .timeline-item.timeline-item-right>.timeline-point.timeline-point-blank,.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left)>.timeline-point.timeline-point-blank{left:-12px}.timeline .timeline-item.timeline-item-arrow-sm.timeline-item-right>.timeline-event:before,.timeline .timeline-item.timeline-item-arrow-sm:nth-of-type(even):not(.timeline-item-left)>.timeline-event:before{left:-10px!important;border-right-width:10px!important}.timeline .timeline-item.timeline-item-arrow-sm.timeline-item-right>.timeline-event:after,.timeline .timeline-item.timeline-item-arrow-sm:nth-of-type(even):not(.timeline-item-left)>.timeline-event:after{left:-9px!important;border-right-width:9px!important}.timeline .timeline-item.timeline-item-arrow-sm>.timeline-event:before{top:4px;right:-10px;border-top:10px solid transparent;border-left-width:10px;border-left-style:solid;border-right-width:0;border-right-style:solid;border-bottom:10px solid transparent}.timeline .timeline-item.timeline-item-arrow-sm>.timeline-event:after{top:5px;right:-9px;border-top:9px solid transparent;border-left-width:9px;border-left-style:solid;border-right-width:0;border-right-style:solid;border-bottom:9px solid transparent}.timeline .timeline-item.timeline-item-arrow-md.timeline-item-right>.timeline-event:after,.timeline .timeline-item.timeline-item-arrow-md.timeline-item-right>.timeline-event:before,.timeline .timeline-item.timeline-item-arrow-md:nth-of-type(even):not(.timeline-item-left)>.timeline-event:after,.timeline .timeline-item.timeline-item-arrow-md:nth-of-type(even):not(.timeline-item-left)>.timeline-event:before,.timeline-single-column.timeline .timeline-item.timeline-item-arrow-sm>.timeline-event:after,.timeline-single-column.timeline .timeline-item.timeline-item-arrow-sm>.timeline-event:before{right:auto!important;border-left-width:0!important}.timeline .timeline-item.timeline-item-arrow-sm>.timeline-point{top:14px}.timeline-single-column.timeline .timeline-item.timeline-item-arrow-sm>.timeline-event:before{left:-10px!important;border-right-width:10px!important}.timeline-single-column.timeline .timeline-item.timeline-item-arrow-sm>.timeline-event:after{left:-9px!important;border-right-width:9px!important}.timeline .timeline-item.timeline-item-arrow-md.timeline-item-right>.timeline-event:before,.timeline .timeline-item.timeline-item-arrow-md:nth-of-type(even):not(.timeline-item-left)>.timeline-event:before{left:-15px!important;border-right-width:15px!important}.timeline .timeline-item.timeline-item-arrow-md.timeline-item-right>.timeline-event:after,.timeline .timeline-item.timeline-item-arrow-md:nth-of-type(even):not(.timeline-item-left)>.timeline-event:after{left:-14px!important;border-right-width:14px!important}.timeline .timeline-item.timeline-item-arrow-md>.timeline-event:before{top:10px;right:-15px;border-top:15px solid transparent;border-left-width:15px;border-left-style:solid;border-right-width:0;border-right-style:solid;border-bottom:15px solid transparent}.timeline .timeline-item.timeline-item-arrow-md>.timeline-event:after{top:11px;right:-14px;border-top:14px solid transparent;border-left-width:14px;border-left-style:solid;border-right-width:0;border-right-style:solid;border-bottom:14px solid transparent}.timeline .timeline-item.timeline-item-arrow-lg.timeline-item-right>.timeline-event:after,.timeline .timeline-item.timeline-item-arrow-lg.timeline-item-right>.timeline-event:before,.timeline .timeline-item.timeline-item-arrow-lg:nth-of-type(even):not(.timeline-item-left)>.timeline-event:after,.timeline .timeline-item.timeline-item-arrow-lg:nth-of-type(even):not(.timeline-item-left)>.timeline-event:before,.timeline-single-column.timeline .timeline-item.timeline-item-arrow-md>.timeline-event:after,.timeline-single-column.timeline .timeline-item.timeline-item-arrow-md>.timeline-event:before{right:auto!important;border-left-width:0!important}.timeline .timeline-item.timeline-item-arrow-md>.timeline-point{top:25px}.timeline-single-column.timeline .timeline-item.timeline-item-arrow-md>.timeline-event:before{left:-15px!important;border-right-width:15px!important}.timeline-single-column.timeline .timeline-item.timeline-item-arrow-md>.timeline-event:after{left:-14px!important;border-right-width:14px!important}.timeline .timeline-item.timeline-item-arrow-lg.timeline-item-right>.timeline-event:before,.timeline .timeline-item.timeline-item-arrow-lg:nth-of-type(even):not(.timeline-item-left)>.timeline-event:before{left:-18px!important;border-right-width:18px!important}.timeline .timeline-item.timeline-item-arrow-lg.timeline-item-right>.timeline-event:after,.timeline .timeline-item.timeline-item-arrow-lg:nth-of-type(even):not(.timeline-item-left)>.timeline-event:after{left:-17px!important;border-right-width:17px!important}.timeline .timeline-item.timeline-item-arrow-lg>.timeline-event:before{top:10px;right:-18px;border-top:18px solid transparent;border-left-width:18px;border-left-style:solid;border-right-width:0;border-right-style:solid;border-bottom:18px solid transparent}.timeline .timeline-item.timeline-item-arrow-lg>.timeline-event:after{top:11px;right:-17px;border-top:17px solid transparent;border-left-width:17px;border-left-style:solid;border-right-width:0;border-right-style:solid;border-bottom:17px solid transparent}.timeline .timeline-item.timeline-item-arrow-lg>.timeline-point{top:28px}.timeline-single-column.timeline .timeline-item.timeline-item-arrow-lg>.timeline-event:after,.timeline-single-column.timeline .timeline-item.timeline-item-arrow-lg>.timeline-event:before{right:auto!important;border-left-width:0!important}.timeline-single-column.timeline .timeline-item.timeline-item-arrow-lg>.timeline-event:before{left:-18px!important;border-right-width:18px!important}.timeline-single-column.timeline .timeline-item.timeline-item-arrow-lg>.timeline-event:after{left:-17px!important;border-right-width:17px!important}.timeline .timeline-item>.timeline-event{background:#fff;border:1px solid #888;color:#555;position:relative;float:left;border-radius:3px}.timeline .timeline-item>.timeline-event:before{border-left-color:#888;border-right-color:#888}.timeline .timeline-item>.timeline-event:after{border-left-color:#fff;border-right-color:#fff}.timeline .timeline-item>.timeline-event .timeline-inherit-color,.timeline .timeline-item>.timeline-event h1,.timeline .timeline-item>.timeline-event h2,.timeline .timeline-item>.timeline-event h3,.timeline .timeline-item>.timeline-event h4,.timeline .timeline-item>.timeline-event h5,.timeline .timeline-item>.timeline-event h6,.timeline .timeline-item>.timeline-event p{color:inherit}.timeline .timeline-item>.timeline-event.timeline-event-default{background:#fff;border:1px solid #888;color:#555}.timeline .timeline-item>.timeline-event.timeline-event-default:before{border-left-color:#888;border-right-color:#888}.timeline .timeline-item>.timeline-event.timeline-event-default:after{border-left-color:#fff;border-right-color:#fff}.timeline .timeline-item>.timeline-event.timeline-event-default .timeline-inherit-color,.timeline .timeline-item>.timeline-event.timeline-event-default h1,.timeline .timeline-item>.timeline-event.timeline-event-default h2,.timeline .timeline-item>.timeline-event.timeline-event-default h3,.timeline .timeline-item>.timeline-event.timeline-event-default h4,.timeline .timeline-item>.timeline-event.timeline-event-default h5,.timeline .timeline-item>.timeline-event.timeline-event-default h6,.timeline .timeline-item>.timeline-event.timeline-event-default p{color:inherit}.timeline .timeline-item>.timeline-event.timeline-event-primary{background:#f5f5f5;border:1px solid #888;color:#555}.timeline .timeline-item>.timeline-event.timeline-event-primary:before{border-left-color:#888;border-right-color:#888}.timeline .timeline-item>.timeline-event.timeline-event-primary:after{border-left-color:#f5f5f5;border-right-color:#f5f5f5}.timeline .timeline-item>.timeline-event.timeline-event-primary .timeline-inherit-color,.timeline .timeline-item>.timeline-event.timeline-event-primary h1,.timeline .timeline-item>.timeline-event.timeline-event-primary h2,.timeline .timeline-item>.timeline-event.timeline-event-primary h3,.timeline .timeline-item>.timeline-event.timeline-event-primary h4,.timeline .timeline-item>.timeline-event.timeline-event-primary h5,.timeline .timeline-item>.timeline-event.timeline-event-primary h6,.timeline .timeline-item>.timeline-event.timeline-event-primary p{color:inherit}.timeline .timeline-item>.timeline-event.timeline-event-success{background:#F3F8ED;border:1px solid #72b92e;color:#3F8100}.timeline .timeline-item>.timeline-event.timeline-event-success:before{border-left-color:#72b92e;border-right-color:#72b92e}.timeline .timeline-item>.timeline-event.timeline-event-success:after{border-left-color:#F3F8ED;border-right-color:#F3F8ED}.timeline .timeline-item>.timeline-event.timeline-event-success .timeline-inherit-color,.timeline .timeline-item>.timeline-event.timeline-event-success h1,.timeline .timeline-item>.timeline-event.timeline-event-success h2,.timeline .timeline-item>.timeline-event.timeline-event-success h3,.timeline .timeline-item>.timeline-event.timeline-event-success h4,.timeline .timeline-item>.timeline-event.timeline-event-success h5,.timeline .timeline-item>.timeline-event.timeline-event-success h6,.timeline .timeline-item>.timeline-event.timeline-event-success p{color:inherit}.timeline .timeline-item>.timeline-event.timeline-event-info{background:#F0F8FD;border:1px solid #3e93cf;color:#0062A7}.timeline .timeline-item>.timeline-event.timeline-event-info:before{border-left-color:#3e93cf;border-right-color:#3e93cf}.timeline .timeline-item>.timeline-event.timeline-event-info:after{border-left-color:#F0F8FD;border-right-color:#F0F8FD}.timeline .timeline-item>.timeline-event.timeline-event-info .timeline-inherit-color,.timeline .timeline-item>.timeline-event.timeline-event-info h1,.timeline .timeline-item>.timeline-event.timeline-event-info h2,.timeline .timeline-item>.timeline-event.timeline-event-info h3,.timeline .timeline-item>.timeline-event.timeline-event-info h4,.timeline .timeline-item>.timeline-event.timeline-event-info h5,.timeline .timeline-item>.timeline-event.timeline-event-info h6,.timeline .timeline-item>.timeline-event.timeline-event-info p{color:inherit}.timeline .timeline-item>.timeline-event.timeline-event-warning{background:#FFF9E9;border:1px solid #d0aa42;color:#ac7e00}.timeline .timeline-item>.timeline-event.timeline-event-warning:before{border-left-color:#d0aa42;border-right-color:#d0aa42}.timeline .timeline-item>.timeline-event.timeline-event-warning:after{border-left-color:#FFF9E9;border-right-color:#FFF9E9}.timeline .timeline-item>.timeline-event.timeline-event-warning .timeline-inherit-color,.timeline .timeline-item>.timeline-event.timeline-event-warning h1,.timeline .timeline-item>.timeline-event.timeline-event-warning h2,.timeline .timeline-item>.timeline-event.timeline-event-warning h3,.timeline .timeline-item>.timeline-event.timeline-event-warning h4,.timeline .timeline-item>.timeline-event.timeline-event-warning h5,.timeline .timeline-item>.timeline-event.timeline-event-warning h6,.timeline .timeline-item>.timeline-event.timeline-event-warning p{color:inherit}.timeline .timeline-item>.timeline-event.timeline-event-danger{background:#FFC4BC;border:1px solid #d25a4b;color:#B71500}.timeline .timeline-item>.timeline-event.timeline-event-danger:before{border-left-color:#d25a4b;border-right-color:#d25a4b}.timeline .timeline-item>.timeline-event.timeline-event-danger:after{border-left-color:#FFC4BC;border-right-color:#FFC4BC}.timeline .timeline-item>.timeline-event.timeline-event-danger .timeline-inherit-color,.timeline .timeline-item>.timeline-event.timeline-event-danger h1,.timeline .timeline-item>.timeline-event.timeline-event-danger h2,.timeline .timeline-item>.timeline-event.timeline-event-danger h3,.timeline .timeline-item>.timeline-event.timeline-event-danger h4,.timeline .timeline-item>.timeline-event.timeline-event-danger h5,.timeline .timeline-item>.timeline-event.timeline-event-danger h6,.timeline .timeline-item>.timeline-event.timeline-event-danger p{color:inherit}.timeline .timeline-item>.timeline-event:after,.timeline .timeline-item>.timeline-event:before{content:"";display:inline-block;position:absolute}.timeline .timeline-item>.timeline-event .timeline-body,.timeline .timeline-item>.timeline-event .timeline-footer,.timeline .timeline-item>.timeline-event .timeline-heading{padding:4px 10px}.timeline .timeline-item>.timeline-event .timeline-body p,.timeline .timeline-item>.timeline-event .timeline-body ul,.timeline .timeline-item>.timeline-event .timeline-footer p,.timeline .timeline-item>.timeline-event .timeline-footer ul,.timeline .timeline-item>.timeline-event .timeline-heading p,.timeline .timeline-item>.timeline-event .timeline-heading ul{margin-bottom:0}.timeline .timeline-item>.timeline-event .timeline-heading h4{font-weight:400}.timeline .timeline-item>.timeline-event .timeline-footer a{cursor:pointer;text-decoration:none}.timeline .timeline-item>.timeline-event .blankslate,.timeline .timeline-item>.timeline-event .panel,.timeline .timeline-item>.timeline-event .table{margin:0;border:none;border-radius:inherit;overflow:hidden}.timeline .timeline-item>.timeline-event .table th{border-top:0}.timeline .timeline-item>.timeline-point{color:#888;background:#fff;right:-24px;width:24px;height:24px;margin-top:-12px;margin-left:12px;margin-right:12px;position:absolute;z-index:100;border-width:2px;border-style:solid;border-radius:100%;line-height:20px;text-align:center}.timeline .timeline-item>.timeline-point.timeline-point-blank{right:-12px;width:12px;height:12px;margin-top:-6px;margin-left:6px;margin-right:6px;color:#888;background:#888}.timeline .timeline-item>.timeline-point.timeline-point-default,.timeline .timeline-item>.timeline-point.timeline-point-primary{color:#888;background:#fff}.timeline .timeline-item>.timeline-point.timeline-point-success{color:#72b92e;background:#fff}.timeline .timeline-item>.timeline-point.timeline-point-info{color:#3e93cf;background:#fff}.timeline .timeline-item>.timeline-point.timeline-point-warning{color:#d0aa42;background:#fff}.timeline .timeline-item>.timeline-point.timeline-point-danger{color:#d25a4b;background:#fff}.timeline .timeline-label{position:relative;float:left;clear:left;margin-bottom:20px;top:1px;width:100%;margin-left:auto;margin-right:auto;padding:0;text-align:center}.timeline .timeline-label:after,.timeline .timeline-label:before{content:"";display:table}.timeline .timeline-label:after{clear:both}.timeline .timeline-label:last-child{margin-bottom:0!important}.timeline .timeline-label+.timeline-item:not(.timeline-item-left):not(.timeline-item-right){margin-top:0}.timeline .timeline-label+.timeline-item:not(.timeline-item-left):not(.timeline-item-right)+.timeline-item:not(.timeline-item-left):not(.timeline-item-right){margin-top:40px}.timeline .timeline-label .label-default,.timeline .timeline-label .label-primary{background-color:#888}.timeline .timeline-label .label-info{background-color:#3e93cf}.timeline .timeline-label .label-warning{background-color:#d0aa42}.timeline .timeline-label .label-danger{background-color:#d25a4b}@media all and (orientation:portrait){.timeline.timeline{width:100%;max-width:100%}.timeline.timeline .timeline-item,.timeline.timeline .timeline-item.timeline-item-right,.timeline.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left){padding-left:72px;padding-right:0}.timeline.timeline .timeline-item .timeline-event{width:100%}.timeline.timeline:before{left:42px;width:0;margin-left:-1px}.timeline.timeline .timeline-item{width:100%;margin-bottom:20px}.timeline.timeline .timeline-item.timeline-item-left+.timeline-item:not(.timeline-item-left):not(.timeline-item-right),.timeline.timeline .timeline-item.timeline-item-left+.timeline-item:not(.timeline-item-left):not(.timeline-item-right)+.timeline-item:not(.timeline-item-left):not(.timeline-item-right),.timeline.timeline .timeline-item.timeline-item-right+.timeline-item:not(.timeline-item-left):not(.timeline-item-right),.timeline.timeline .timeline-item.timeline-item-right+.timeline-item:not(.timeline-item-left):not(.timeline-item-right)+.timeline-item:not(.timeline-item-left):not(.timeline-item-right),.timeline.timeline .timeline-item:nth-of-type(even){margin-top:0}.timeline.timeline .timeline-item>.timeline-event{float:right!important}.timeline.timeline .timeline-item>.timeline-event:after,.timeline.timeline .timeline-item>.timeline-event:before{right:auto!important;border-left-width:0!important}.timeline.timeline .timeline-item>.timeline-event:before{left:-15px!important;border-right-width:15px!important}.timeline.timeline .timeline-item>.timeline-event:after{left:-14px!important;border-right-width:14px!important}.timeline.timeline .timeline-item>.timeline-point{transform:translateX(-50%);left:42px!important;margin-left:0}.timeline.timeline .timeline-label{transform:translateX(-50%);margin:0 0 20px 42px}.timeline.timeline .timeline-label+.timeline-item:not(.timeline-item-left):not(.timeline-item-right),.timeline.timeline .timeline-label+.timeline-item:not(.timeline-item-left):not(.timeline-item-right)+.timeline-item:not(.timeline-item-left):not(.timeline-item-right){margin-top:0}}@media (max-width:768px){.timeline.timeline{width:100%;max-width:100%}.timeline.timeline .timeline-item,.timeline.timeline .timeline-item.timeline-item-right,.timeline.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left){padding-left:72px;padding-right:0}.timeline.timeline .timeline-item .timeline-event{width:100%}.timeline.timeline:before{left:42px;width:0;margin-left:-1px}.timeline.timeline .timeline-item{width:100%;margin-bottom:20px}.timeline.timeline .timeline-item.timeline-item-left+.timeline-item:not(.timeline-item-left):not(.timeline-item-right),.timeline.timeline .timeline-item.timeline-item-left+.timeline-item:not(.timeline-item-left):not(.timeline-item-right)+.timeline-item:not(.timeline-item-left):not(.timeline-item-right),.timeline.timeline .timeline-item.timeline-item-right+.timeline-item:not(.timeline-item-left):not(.timeline-item-right),.timeline.timeline .timeline-item.timeline-item-right+.timeline-item:not(.timeline-item-left):not(.timeline-item-right)+.timeline-item:not(.timeline-item-left):not(.timeline-item-right),.timeline.timeline .timeline-item:nth-of-type(even){margin-top:0}.timeline.timeline .timeline-item>.timeline-event{float:right!important}.timeline.timeline .timeline-item>.timeline-event:after,.timeline.timeline .timeline-item>.timeline-event:before{right:auto!important;border-left-width:0!important}.timeline.timeline .timeline-item>.timeline-event:before{left:-15px!important;border-right-width:15px!important}.timeline.timeline .timeline-item>.timeline-event:after{left:-14px!important;border-right-width:14px!important}.timeline.timeline .timeline-item>.timeline-point{transform:translateX(-50%);left:42px!important;margin-left:0}.timeline.timeline .timeline-label{transform:translateX(-50%);margin:0 0 20px 42px}.timeline.timeline .timeline-label+.timeline-item:not(.timeline-item-left):not(.timeline-item-right),.timeline.timeline .timeline-label+.timeline-item:not(.timeline-item-left):not(.timeline-item-right)+.timeline-item:not(.timeline-item-left):not(.timeline-item-right){margin-top:0}}
/**TimeLine**/
/** tabs**/

.clickable{
    cursor: pointer;   
}

.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}
/**Fintabs**/

/**Inicio Button Top**/
.navbar-fixed-top + .content-container {
    margin-top: 70px;
}
.content-container {
    margin: 0 130px;
}



#top-link-block.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px; /* negative of the offset - height of link element */
    right:  10px; /* padding from the left side of the window */
}
#top-link-block.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 18px; /* height of link element */
    right: 10px; /* padding from the left side of the window */
}
/**Fin Button Top**/
.chartMap{
    width: 1300px; height: 500px;
}

/*Mobil*/

@media only screen and (max-device-width: 1200px) {
    .chartMap{
        width: 350px; height: 200px;
    }
}
@media only screen and (max-device-width: 380px) {
    .chartMap{
        width: 250px; height: 200px;
    }
    .text-mobil{
        font-size: 7px;
        text-transform: uppercase;
    }
}
.message-item {
    margin-bottom: 25px;
    margin-left: 40px;
    position: relative;
}
.message-item .message-inner {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px;
    position: relative;
}
.message-item .message-inner:before {
    border-right: 10px solid #ddd;
    border-style: solid;
    border-width: 10px;
    color: rgba(0,0,0,0);
    content: "";
    display: block;
    height: 0;
    position: absolute;
    left: -20px;
    top: 6px;
    width: 0;
}
.message-item .message-inner:after {
    border-right: 10px solid #fff;
    border-style: solid;
    border-width: 10px;
    color: rgba(0,0,0,0);
    content: "";
    display: block;
    height: 0;
    position: absolute;
    left: -18px;
    top: 6px;
    width: 0;
}
.message-item:before {
    background: #fff;
    border-radius: 2px;
    bottom: -30px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    content: "";
    height: 100%;
    left: -30px;
    position: absolute;
    width: 3px;
}
.message-item:after {
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    content: "";
    height: 15px;
    left: -36px;
    position: absolute;
    top: 10px;
    width: 15px;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.message-item .message-head {
    border-bottom: 1px solid #eee;
    margin-bottom: 8px;
    padding-bottom: 8px;
}
.message-item .message-head .avatar {
    margin-right: 20px;
}
.message-item .message-head .user-detail {
    overflow: hidden;
}
.message-item .message-head .user-detail h5 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
.message-item .message-head .post-meta {
    float: left;
    padding: 0 15px 0 0;
}
.message-item .message-head .post-meta >div {
    color: #333;
    font-weight: bold;
    text-align: right;
}
.post-meta > div {
    color: #777;
    font-size: 12px;
    line-height: 22px;
}
.message-item .message-head .post-meta >div {
    color: #333;
    font-weight: bold;
    text-align: right;
}
.post-meta > div {
    color: #777;
    font-size: 12px;
    line-height: 22px;
}
img {
    min-height: 40px;
    max-height: 40px;
}
/**FIN Time Line*/

/**PANELS GRICES**/
.hero-widget { text-align: center; padding-top: 10px; padding-bottom: 10px; }
.hero-widget .icon { display: block; font-size: 50px; line-height: 30px; margin-bottom: 5px; text-align: center; }
.hero-widget var { display: block; height: 30px; font-size: 30px; line-height: 30px; font-style: normal; }
.hero-widget label { font-size: 12px; }
.hero-widget .options { margin-top: 10px; }
/**PANEL GRISES**/
/*Left Sideways Panel Header"
http://bootsnipp.com/snippets/featured/left-sideways-panel-header*/
.panel
{
    position: relative;
}

.panel-default > .panel-leftheading
{
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-primary > .panel-leftheading
{
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}

.panel-success > .panel-leftheading
{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.panel-info > .panel-leftheading
{
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.panel-warning > .panel-leftheading
{
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.panel-danger > .panel-leftheading
{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.panel-leftheading
{
    width: 42px;
    padding: 10px 15px;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    float: left;
    height: 100%;
    position: absolute;
}

.panel-lefttitle
{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    font-size: 16px;
    color: inherit;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(90deg);
    -o-transform-origin: left top;
    transform: rotate(90deg);
    transform-origin: left top;
    position: absolute;
    white-space: nowrap;
}

.panel-rightbody
{
    float: left;
    margin-left: 45px;
    padding: 15px;
}

/** FIN Left Sideways Panel Header*/
/*http://bootsnipp.com/snippets/featured/product-badges-responsive
Product badges responsive*/
.shape{    
    border-style: solid; border-width: 0 70px 40px 0; float:right; height: 0px; width: 0px;
    -ms-transform:rotate(360deg); /* IE 9 */
    -o-transform: rotate(360deg);  /* Opera 10.5 */
    -webkit-transform:rotate(360deg); /* Safari and Chrome */
    transform:rotate(360deg);
}
.offer{
    background:#fff; border:1px solid #ddd; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); margin: 15px 0; overflow:hidden;
}
.offer:hover {
    -webkit-transform: scale(1.1); 
    -moz-transform: scale(1.1); 
    -ms-transform: scale(1.1); 
    -o-transform: scale(1.1); 
    transform:rotate scale(1.1); 
    -webkit-transition: all 0.4s ease-in-out; 
    -moz-transition: all 0.4s ease-in-out; 
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.shape {
    border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
}
.offer-radius{
    border-radius:7px;
}
.offer-danger {	border-color: #d9534f; }
.offer-danger .shape{
    border-color: transparent #d9534f transparent transparent;
}
.offer-success {	border-color: #5cb85c; }
.offer-success .shape{
    border-color: transparent #5cb85c transparent transparent;
}
.offer-default {	border-color: #999999; }
.offer-default .shape{
    border-color: transparent #999999 transparent transparent;
}
.offer-primary {	border-color: #428bca; }
.offer-primary .shape{
    border-color: transparent #428bca transparent transparent;
}
.offer-info {	border-color: #5bc0de; }
.offer-info .shape{
    border-color: transparent #5bc0de transparent transparent;
}
.offer-warning {	border-color: #f0ad4e; }
.offer-warning .shape{
    border-color: transparent #f0ad4e transparent transparent;
}

.shape-text{
    color:#fff; font-size:12px; font-weight:bold; position:relative; right:-40px; top:2px; white-space: nowrap;
    -ms-transform:rotate(30deg); /* IE 9 */
    -o-transform: rotate(360deg);  /* Opera 10.5 */
    -webkit-transform:rotate(30deg); /* Safari and Chrome */
    transform:rotate(30deg);
}	
.offer-content{
    padding:0 20px 10px;
}
@media (min-width: 487px) {
    .container {
        max-width: 750px;
    }
    .col-sm-6 {
        width: 50%;
    }
}
@media (min-width: 900px) {
    .container {
        max-width: 970px;
    }
    .col-md-4 {
        width: 33.33333333333333%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
    .col-lg-3 {
        width: 25%;
    }
}
/*FIN Product badges responsive*/
/**Status coteiner**/
.status {
    font-family: 'Source Sans Pro', sans-serif;
}
.status .panel-title {
    font-family: 'Oswald', sans-serif;
    font-size: 72px;
    font-weight: bold;
    color: #fff;
    line-height: 45px;
    padding-top: 20px;
    letter-spacing: -0.8px;
}
/**FIN Status Conteiner**/
/**Sidabar**/
#wrapper {
    padding-left: 250px;
    transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
    margin-left: -250px;
    left: 250px;
    width: 250px;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
}

#wrapper.active {
    padding-left: 0;
}

#wrapper.active #sidebar-wrapper {
    left: 0;
}

#page-content-wrapper {
    width: 100%;
}



.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
}


.sidebar-nav li a {
    color: #fff;
    display: block;
    text-decoration: none;
    padding-left: 30px;
}

.sidebar-nav li a span:before {
    position: absolute;
    left: 0;
    color: #41484c;
    text-align: center;
    width: 20px;
    line-height: 18px;
}

.sidebar-nav li a:hover,
.sidebar-nav li.active {
    color: #fff;
    background: rgba(255,255,255,0.2);
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    line-height: 60px;
    font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}



.content-header {
    height: 65px;
    line-height: 65px;
}

.content-header h1 {
    margin: 0;
    margin-left: 20px;
    line-height: 65px;
    display: inline-block;
}

#menu-toggle {

}

.btn-menu {
    color: #000;
} 

.inset {
    padding: 20px;
}

@media (max-width:767px) {

    #wrapper {
        padding-left: 0;
    }

    #sidebar-wrapper {
        left: 0;
    }

    #wrapper.active {
        position: relative;
        left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
        left: 250px;
        width: 250px;
        transition: all 0.4s ease 0s;
    }

    #menu-toggle {
        display: inline-block;
    }

    .inset {
        padding: 15px;
    }

}


/**Fin Sidebar*/
.board{
    width: 75%;
    margin: 60px auto;
    height: 500px;
    background: #fff;
    /*box-shadow: 10px 10px #ccc,-10px 20px #ddd;*/
}
.board .nav-tabs {
    position: relative;
    /* border-bottom: 0; */
    /* width: 80%; */
    margin: 40px auto;
    margin-bottom: 0;
    box-sizing: border-box;

}

.board > div.board-inner{
    background: #fafafa url(http://subtlepatterns.com/patterns/geometry2.png);
    background-size: 30%;
}

p.narrow{
    width: 60%;
    margin: 10px auto;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    /* background-color: #ffffff; */
    border: 0;
    border-bottom-color: transparent;
}

span.round-tabs{
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: white;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

span.round-tabs.one{
    color: rgb(34, 194, 34);border: 2px solid rgb(34, 194, 34);
}

li.active span.round-tabs.one{
    background: #fff !important;
    border: 2px solid #ddd;
    color: rgb(34, 194, 34);
}

span.round-tabs.two{
    color: #febe29;border: 2px solid #febe29;
}

li.active span.round-tabs.two{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #febe29;
}

span.round-tabs.three{
    color: #3e5e9a;border: 2px solid #3e5e9a;
}

li.active span.round-tabs.three{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #3e5e9a;
}

span.round-tabs.four{
    color: #f1685e;border: 2px solid #f1685e;
}

li.active span.round-tabs.four{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #f1685e;
}

span.round-tabs.five{
    color: #999;border: 2px solid #999;
}

li.active span.round-tabs.five{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #999;
}

.nav-tabs > li.active > a span.round-tabs{
    background: #fafafa;
}
.nav-tabs > li {
    width: 20%;
}
/*li.active:before {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:0;
    margin: 0 auto;
    bottom: -2px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    z-index: 1;
    transition:0.2s ease-in-out;
}*/
li:after {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #ddd;
    transition:0.1s ease-in-out;

}
li.active:after {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #ddd;

}
.nav-tabs > li a{
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.nav-tabs > li a:hover{
    background: transparent;
}

.tab-content{
}
.tab-pane{
    position: relative;
    padding-top: 50px;
}
.tab-content .head{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.btn-outline-rounded{
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}

.btn.green{
    background-color:#5cb85c;
    /*border: 2px solid #5cb85c;*/
    color: #ffffff;
}



@media( max-width : 585px ){

    .board {
        width: 90%;
        height:auto !important;
    }
    span.round-tabs {
        font-size:16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    .tab-content .head{
        font-size:20px;
    }
    .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height:50px;
    }

    li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }

    .btn-outline-rounded {
        padding:12px 20px;
    }
}


/** Fin tabs 5 **/


.nemnu_select_company{
    margin: 10px;
}
.btn-sq-lg {
    width: 150px !important;
    height: 150px !important;
}

.btn-sq {
    width: 100px !important;
    height: 100px !important;
    font-size: 10px;
}

.btn-sq-sm {
    width: 50px !important;
    height: 50px !important;
    font-size: 10px;
}

.btn-sq-xs {
    width: 25px !important;
    height: 25px !important;
    padding:2px;
}

.alert-growl {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
    border-color: rgb(255, 255, 255);
    border-width: 3px;
    color: rgb(255, 255, 255);
}

/**
*Procesando
**/
#procesando h1 {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -5pt /* half the height of your text size */
}
.imgProcesando {
    display: block;
    margin-left: 45%;
    position: absolute;
    top:50%;
    margin-top: 50px;
}
/**
*Procesando -FIN
**/

/**
*Mega Menú
**/
.mega-dropdown {
    position: static !important;
    width:100%;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.open .dropdown-toggle:after {
    border-bottom: 15px solid #fff;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    content: "";
    left: 163px;
    position: absolute;
    bottom: -21px;
    z-index: 1500;
}
.open .dropdown-toggle span:after {
    border-bottom: 17px solid #ccc;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    content: "";
    left: -10px;
    position: absolute;
    bottom: -41px;
    z-index: 8;
}
.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}
.mega-dropdown-menu > li > ul > li {
    list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #fff;
    white-space: normal;
}
.mega-dropdown-menu > li ul > li > a:hover, .mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
    /*color: #444;*/
    color: #fff;
    font-weight: bold;
    /*background-color: #f5f5f5;*/
    background-color: #748faa ;
}
.mega-dropdown-menu .dropdown-header {
    color: #fff;
    font-size: 18px;
    font-weight:bold;
}
.mega-dropdown-menu form {
    margin:3px 20px;
}
.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}
/**
*Mega Menú - FIN
**/

/**Stylish button list INI**/
.ds-btn li{ list-style:none; float:left; padding:10px; }
.ds-btn li a span{padding-left:15px;padding-right:5px;width:100%;display:inline-block; text-align:left;}
.ds-btn li a span small{width:100%; display:inline-block; text-align:left;}
/** Stylish button list END**/

.navbar-inverse {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#264073+0,266f9a+100&amp;0.81+0,0.16+99,0.72+99 */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI2NDA3MyIgc3RvcC1vcGFjaXR5PSIwLjgxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzI2NmY5YSIgc3RvcC1vcGFjaXR5PSIwLjcyIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNjZmOWEiIHN0b3Atb3BhY2l0eT0iMC43MiIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  rgba(38,64,115,0.81) 0%, rgba(38,111,154,0.72) 99%, rgba(38,111,154,0.72) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(38,64,115,0.81)), color-stop(99%,rgba(38,111,154,0.72)), color-stop(100%,rgba(38,111,154,0.72))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(38,64,115,0.81) 0%,rgba(38,111,154,0.72) 99%,rgba(38,111,154,0.72) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(38,64,115,0.81) 0%,rgba(38,111,154,0.72) 99%,rgba(38,111,154,0.72) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(38,64,115,0.81) 0%,rgba(38,111,154,0.72) 99%,rgba(38,111,154,0.72) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(38,64,115,0.81) 0%,rgba(38,111,154,0.72) 99%,rgba(38,111,154,0.72) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf264073', endColorstr='#b8266f9a',GradientType=1 ); /* IE6-8 */

}

form{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9d1dc+0,ffffff+100&amp;1+0,0+100 */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M5ZDFkYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(201,209,220,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(201,209,220,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(201,209,220,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(201,209,220,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(201,209,220,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(201,209,220,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9d1dc', endColorstr='#00ffffff',GradientType=0 ); /* IE6-8 */
    padding: 15px;
}

.has-error div p.help-block{
    width: 100%;
    background: #b80000;
    position: relative;
    color: #fff;
    width: 180px;
    font-size: 11px;
    border: 2px solid #ddd;
    box-shadow: 0 0 6px #000;
    -moz-box-shadow: 0 0 6px #000;
    -webkit-box-shadow: 0 0 6px #000;
    padding: 4px 10px 4px 10px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.help-inline, .help-block{
    background: #266f9a;
    position: relative;
    color: #fff;
    width: 100%;
    font-size: 11px;
    border: 2px solid #ddd;
    box-shadow: 0 0 6px #000;
    -moz-box-shadow: 0 0 6px #000;
    -webkit-box-shadow: 0 0 6px #000;
    padding: 4px 15px 4px 10px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}