    

/* Use a wide full screen for small screens like tablets. */
@media (min-width: 768px) and (max-width:992px) {
    .container {
		width: initial;
        padding-left: 2em;
        padding-right: 2em;        
	}
}

/* --- Plans ---------------------------- */

.my_planHeader {
    text-align: center;
    color: white;
    padding-top:1.8em;
    padding-bottom:1.2em;
}
.my_planTitle {
    font-size:1.4em;
    font-weight: bold;
}
.my_planPrice {
    font-size:3em;
    font-weight: bold;    
}
.my_planDuration {
    font-size:1.0em;
    margin-top: -0.6em;
    margin-bottom: 1.6em;
}

@media (max-width: 768px) {
    .my_planTitle {
        font-size:0.5em;
    }    
}

/* --- Features ------------------------- */

.my_feature {
    line-height:2.8em;   
}

@media (max-width: 768px) {
    .my_feature {
        text-align: center
    }
 }

.my_featureRow {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    border: 0.1em solid rgb(163, 163, 163);
}    
/* --- Plan 0 --------------------------- */
.my_plan0 {
    background: rgb(232,224,242);
}

.my_planHeader.my_plan0 a {
    background: rgb(101,62,149);
    color:white;
}

.my_planHeader.my_plan0 {
    background: rgb(129,86,184);
    border-bottom: thick solid rgb(72, 109, 139);
}

/* --- Plan 1 --------------------------- */
.my_plan1 {
    background: rgb(224,234,242);
}

.my_planHeader.my_plan1 a {
    background: rgb(72, 109, 139);
    color:white;
}

.my_planHeader.my_plan1 {
    background: rgb(105, 153, 193);
    border-bottom: thick solid rgb(72, 109, 139);
}

/* --- Plan 2 --------------------------- */
.my_plan2 {
    background: rgb(224,242,232);
}

.my_planHeader.my_plan2 a {
    background: rgb(62,149,101);
    color:white;
}

.my_planHeader.my_plan2 {
    background: rgb(86,184,129);
    border-bottom: thick solid rgb(108, 131, 62);
}

/* --- Plan 3 --------------------------- */
.my_plan3 {
    background: rgb(254,235,212);
}

.my_planHeader.my_plan3 a {
    background: rgb(199, 127, 40);
    color:white;
}

.my_planHeader.my_plan3 {
    background: rgb(253, 161, 49);
    border-bottom: thick solid rgb(199, 127, 40);
}




.my_planFeature {
    text-align: center;
    font-size: 2em;
}

.my_planFeature i.my_check {
    color: green;
}




