@charset "utf-8";
/* CSS Document */

.conten_cat{
    width:792px;
    height:612px;
    margin:0px 100px;
}
.header{
    background-color:#20245D;
    height:43px;
    width:792px;

}
.info_empresa{
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    font-size: 12px;
    padding-top: 5px;
    border-right: 1px;
    float: left;
    padding-right: 10px;

}
.pro_img{
    transform: translate(-50%, -50%);
    position: relative;
    top: 50%;
    left: 50%;
}
.telefono{
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    font-size: 12px;
    padding-top: 4px;
    border-right: solid 1px;
    float: left;
    padding-right: 13px;
    padding-left: 12px;
    border-left: solid 1px;
    margin-top: 9px;
    padding-bottom: 5px;

}
.correo{
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    font-size: 12px;
    padding-top: 4px;
    float: left;
    padding-right: 13px;
    padding-left: 12px;
    margin-top: 9px;
    padding-bottom: 5px;

}
.logo{
    width:203px;
    height:41px;
    float:left;
    padding-right: 52px;
}
.conten_productos{
    width:769px;
    height:549px;
}
.col_1{
    width: 254px;
    float: left;
    height: 173px;


}
.col_2{
    width: 254px;
    float: left;
    height: 173px;


}
.col_3{
    width: 254px;
    float: left;
    height: 173px;


}
img{
    max-height: 100% ;
}
.producto{
    width: 252px;
    height: 155px;
    border-radius: 17px 17px 17px 17px;
    -moz-border-radius: 17px 17px 17px 17px;
    -webkit-border-radius: 17px 17px 17px 17px;
    border: 1px solid #191970;


}
.info_producto{
    width:259px;

}
.foto_producto{

    width: 150px;
    height: 150px;
    /* padding: 14px; */
    /* padding-left: 19px; */
    float: left;
    padding: 10px;
    display: block;

}
.titulo_producto{
    font-family: Arial, Helvetica, sans-serif;
    width: 114px;
    height: 90px;
    float: right;
    color: #4682B4;
    font-size: 13px;
    font-weight: bold;
    padding: 5px; 
    line-height: 13px;
    position: relative;
    top: -150px;
    right: 8px;
    
}

.product-codigo-2{
    font-family: sans-serif;
    width: 90px;
    float: right;
    color: #000 !important;
    font-weight: bold;
    line-height: 13px;
    position: relative;
    top: -184px;
    left: -57px;
    padding: 2px 0;
    text-align: center;
     -webkit-transition: -webkit-transform 0.5s linear;
    -moz-transition: -moz-transform 0.5s linear;
    transition: transform 0.5s linear;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    text-transform: uppercase;
}

.etiqueta{
    font-family: sans-serif;
    width: 100px;
    float: right;
    color: rgb(255,0,0) !important;
    font-weight: bold;
    line-height: 13px;
    position: relative;
    top: -181px;
    left: -45px;
    padding: 2px 0;
    text-align: center;
     -webkit-transition: -webkit-transform 0.5s linear;
    -moz-transition: -moz-transform 0.5s linear;
    transition: transform 0.5s linear;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    text-transform: uppercase;
}
.product-codigo-3{
    font-family: sans-serif;
    width: 100px;
    float: right;
    color: rgb(255,0,0) !important;
    font-weight: bold;
    line-height: 13px;
    position: relative;
    top: -181px;
    left: -45px;
    padding: 2px 0;
    text-align: center;
     -webkit-transition: -webkit-transform 0.5s linear;
    -moz-transition: -moz-transform 0.5s linear;
    transition: transform 0.5s linear;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    text-transform: uppercase;
}
.detalle_producto{
    font-family: Arial, Helvetica, sans-serif;
    width: 114px;
    height: 64px;
    float: right;
    color: #DCDCDC;
    font-weight: bold;
    line-height: 13px;
    position: relative;
    top: -61px;
    left: 105px;
    text-align: center;
}
.categoria{
    font-family:Arial, Helvetica, sans-serif;
    color:#5F5F5E;
    font-size:12px;
    font-weight:bold;

}
.categoria span{
    font-weight:bold;
    color: #262626;

}

.info_producto_inf{
    width:231px;
    float:left;
}
.logo_marca{
    width: 50px;
    height: 50px;
    float: right;
    padding-left: 7px;
    position: relative;
    right: 17px;
    top: 100px;
}
.datos_inf{
    width:100px;
    height:25px;
    float:right;
}
.referencia{
    font-family:Arial, Helvetica, sans-serif;
    color:#22487E !important;
    font-size:12px;
    font-weight:bold;
    position: relative;
    top: 138px;
    right: 133px;
}


.codigo{
    font-family:Arial, Helvetica, sans-serif;
    color:#808080 !important;
    font-size:14px;
    font-weight:bold;
    margin: 10px;
    position: relative;
    top: -10px;
}

.codigo .valor{
    color: #808080 !important;
}
.precio{
    width: 41px;
    font-family: Arial, Helvetica, sans-serif;
    color: #22487E !important;
    font-size: 16px;
    font-weight: bold;
}
.brand{
    font-family: Helvetica, sans-serif;
    color: #22487E !important;
    /*font-size: 16px;*/
    font-weight: bold;
}

div.saltopagina{ 
    display:block; 
    page-break-before:always;
}
.hedaer_print{
    margin-bottom: 10px;
}

.linea{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}