@charset "utf-8";
/* CSS Document */

.conten_cat{
	width:792px;
	height:612px;
	margin:0px auto;
}
.header{
	background-color:#20245D;
	height:43px;
	width:792px;
	
}
.info_empresa{
	font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    font-size: 12px;
    padding-top: 5px;
    border-right: 1px;
    float: left;
	padding-right: 10px;
	
}

.telefono{
	font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    font-size: 12px;
    padding-top: 4px;
    border-right: solid 1px;
    float: left;
    padding-right: 13px;
    padding-left: 12px;
    border-left: solid 1px;
    margin-top: 9px;
    padding-bottom: 5px;
	
}
.correo{
	font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    font-size: 12px;
    padding-top: 4px;
    float: left;
    padding-right: 13px;
    padding-left: 12px;
    margin-top: 9px;
    padding-bottom: 5px;
	
}
.logo{
	width:203px;
	height:41px;
	float:left;
	padding-right: 52px;
}
.conten_productos{
	width:769px;
	height:549px;
}
.col_1{
	width:254px;
	float:left;
        padding-bottom: 20px;

}
.col_2{
	width:254px;
	float:left;
        padding-bottom: 20px;

}
.col_3{
	width:254px;
	float:left;
        padding-bottom: 20px;

}
.producto{
	background: url(../imagenes/fnd_producto.png) no-repeat;
    width: 252px;
    height: 155px;
    margin: 10px 5px 5px 20px;
}
.info_producto{
	width:259px;
	
}
.foto_producto{
    background: url(../imagenes/fnd_producto.png) no-repeat;
    width: 105px;
    height: 86px;
    padding-top: 14px;
    padding-left: 19px;
    float: left;
  
}
.titulo_producto{
	    font-family: Arial, Helvetica, sans-serif;
    width: 117px;
    height: 45px;
    float: left;
    color: #22487E;
    font-size: 13px;
    font-weight: bold;
    padding-top: 19px;
    line-height: 13px;
    padding-left: 8px;
}
.categoria{
	width: 111px;
	font-family:Arial, Helvetica, sans-serif;
	color:#5F5F5E;
	font-size:12px;
	padding-top:3px;
	font-weight:bold;
	
}
.categoria span{
	font-weight:bold;
	color: #262626;

}

.info_producto_inf{
	width:231px;
	float:left;
}
.logo_marca{
	width:28px;
	height:28px;
	float:left;
	padding-left:7px;
}
.datos_inf{
	width:143px;
	height:25px;
	float:left;
}
.referencia{
	font-family: Arial, Helvetica, sans-serif;
    color: #5F5F5E;
    font-size: 12px;
    padding-left: 22px;
    font-weight: bold;
    padding-top: 8px;
}
.referencia span{
	    font-family: Arial, Helvetica, sans-serif;
    color: #3D3E3C;
    font-size: 13px;
    float: right;
    font-weight: bold;
}

.codigo{
	    font-family: Arial, Helvetica, sans-serif;
    color: #5F5F5E;
    font-size: 13px;
    padding-left: 22px;
    font-weight: bold;
    float: left;
    padding-top: 7px;
}
.codigo span{
	font-family:Arial, Helvetica, sans-serif;
	color:#3D3E3C;
	font-size:13px;
	font-weight:bold;
	margin-left:17px;
}
.precio{
	width: 41px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    font-size: 16px;
    float: left;
    font-weight: bold;
    padding-top: 17px;
    padding-left: 5px;
}

